[Desktop Entry]
Encoding=UTF-8
Name=GlobalBoost
Comment=GlobalBoost P2P Cryptocurrency
Comment[fr]=GlobalBoost, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GlobalBoost, eşten eşe kriptografik sanal para birimi
Exec=globalboost-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/globalboost;
Categories=Office;Finance;
